.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;

  input,
  textarea {
    height: 38px;
    line-height: 38px;
    background: #fff;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    margin-top: 0.5rem;
    text-indent: 8px;
    outline: none;
    border: 2px solid #fff;
    color: #3b4349;

    &:focus {
      border-color: $color-text !important;
    }
  }

  textarea {
    height: 150px;
  }

  &__btn {
    min-width: 200px;
    margin: 2rem auto;
    background: $color-text;
    color: #fff;
    cursor: pointer;
    line-height: 1;

    &:hover {
      background: darken($grey-dark , 5%);
       color: #fff;
    }
  }
}