@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
div,
span,
p,
input,
a,
h1,
h2,
h3,
button,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

:root {
    --header: 250px;
    --color-text: #3b4349;
    --background-blue: #21b2a6;
}